
.about-inside{
    color: var(--text-black-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em 0;
    max-width: 1400px;
}

.about-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 1em;
}

.attention-secondary{
    color: var(--text-attention-color-secondary);
}

.about-text{
    color: #1c1c1c;
    font-size: 24px;
    line-height: 33px;
    width: 50%;
    font-family: var(--font-secondary);
    margin-bottom: 2em;
}
.about-list{
    display: flex;
    gap: 20px;
}
.about-list-item{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 5px 8px 15px -4px rgba(0, 0, 0, 0.25);
    text-align: start;
    padding: 2em;
}
.about-list-item h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-list-item p{
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    font-family: var(--font-secondary);
}
.card-benefits{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 2em;
    box-shadow: 5px 8px 15px -4px rgba(0, 0, 0, 0.25);
    width: auto;
    text-align: start;
    padding: 2em;
    display: flex;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.card-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-item{
    display: flex;
    align-items: center;
    gap: 1em;
}
.card-image{
    width: 40%;
    margin-left: 2em;
}
