nav{
    background: var(--background-color-hero);
    position: fixed;
    width: 100%;
}

.header{
    padding: 1em 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}
.header-logo{
    height: 100%;
}

.header-menu-itens{
    margin-left: 30px;
    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: 500;
}

.header-contact{
    text-decoration: none;
    color: var(--text-primary-color);
    background-color: var(--button-color);
    padding: 0.8em 1.5em;
    border-radius: 5px;
    font-weight: 700;
}