.presentation{
    background-image: url(/assets/salareuniao3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    text-align: center;
    padding: 3em 2em;
}
.presentation-title{
    font-size: 1.5em;
    font-weight: 700;
}
.presentation-image{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.presentation-button{
    width: auto;
    display: inline-block;
}
.presentation-content{
    height: 100%;
}
