@import url(/styles/hero.css);
@import url(/styles/header.css);
@import url(/styles/about.css);
:root{
    --background-color: #EBEFEF;
    --background-color-hero:linear-gradient(284deg, #1C3787 -13.12%, #070D21 127.28%);
    --text-primary-color: #fff;
    --text-attention-color: #59C2E8;
    --text-attention-color-secondary: #2B8BAE;
    --button-color: #2B8BAE;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Nunito", sans-serif;
    --text-black-primary: #050505;
    --text-black-secondary: #1C1C1C;
}

body{
    background-color: var(--background-color);
    color: var(--text-primary-color);
    font-family: var(--font-primary);
    font-weight: 400;
}

main{
    background: var(--background-color-hero);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about{
    background: #EBEFEF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

